{% extends 'base.html.twig' %}

{% block body %}
    <div class="homepage container">
        <div class="grid-filter mb3">
            <div class="grid-filter__group">
                <label for="filter-category">Catégorie : </label>
                <select
                    name="category"
                    id="filter-category"
                    is="select-choices"
                    hx-target="#recipes"
                    hx-get="/"
                    hx-swap="outerHTML"
                    hx-select="#recipes"
                    hx-indicator=".progress-bar"
                >
                    <option value="">Tous</option>
                    <option value="none">Sans catégorie</option>
                    {% for category in categories  %}
                        {% set key = category.id %}
                        <option {{ app.request.get('category') == key ~ '' ? 'selected' : ''}} value="{{ key }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="grid-filter__group">
                <label for="filter-favorite">Favoris : </label>
                <div class="form-switch">
                    <input
                        {% if favorites_only %}checked{% endif %}
                        type="checkbox"
                        name="favorite"
                        id="filter-favorite"
                        is="switch-input"
                        class="form-check-input"
                        value="1"
                        hx-target="#recipes"
                        hx-get="/"
                        hx-swap="outerHTML"
                        hx-select="#recipes"
                        hx-indicator=".progress-bar"
                    >
                    <label class="form-check-label" for="filter-favorite"></label>
                </div>
            </div>
        </div>
        <div class="recipes" id="recipes">
            <div class="recipe-hero ">
                {% if favorites_only %}
                    <h1>Vos recettes favories</h1>
                    {% if page > 1 %}
                        <p>page {{ page }}</p>
                    {% endif %}
                {% else %}
                    <h1>Toutes les recettes</h1>
                    {% if page > 1 %}
                        <p>page {{ page }}</p>
                    {% else %}
                        <p>Voir toutes les recettes disponibles...</p>
                    {% endif %}
                {% endif %}
            </div>
            {% for recipe in recipes %}
                {{ include('recipes/card.html.twig') }}
            {% endfor %}
        </div>
        {{ paginate(recipes) }}
    </div>
{% endblock %}
