<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Administration{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicons/icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicons/icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicons/icon-152x152.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/icon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="128x128" href="/favicons/icon-128x128.png"/>
    <link rel="icon" type="image/png" sizes="196x196" href="/favicons/icon-196x196.png"/>
    <link rel="icon" type="image/png" sizes="310x310" href="/favicons/icon-310x310.png"/>
    <meta name="application-name" content="Recettes"/>
    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
            {{ importmap('admin') }}
        {% endblock %}
        <script type="module" src="{{ asset('app.ts') }}"></script>
        <script type="module" src="{{ asset('admin.ts') }}"></script>
    {% endblock %}
</head>
<body class="admin">
<div class="dashboard-wrapper">
    <aside class="dashboard-sidebar">
        <div class="dashboard-sidebar__wrapper">
            <ul class="dashboard-sidebar__main">
                <li>
                    <a href="" class="h3">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('admin_recipe_index') }}" {{ is_active('recipe') }}>
                        <svg>
                            <use href="/icons.svg#toque"></use>
                        </svg>
                        Recettes
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_category_index') }}" {{ is_active('category') }}>
                        <svg>
                            <use href="/icons.svg#category"></use>
                        </svg>
                        Catégories
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_unit_index') }}" {{ is_active('unit') }}>
                        <svg>
                            <use href="/icons.svg#rule"></use>
                        </svg>
                        Unités
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_ingredient_index') }}" {{ is_active('ingredient') }}>
                        <svg>
                            <use href="/icons.svg#carrot"></use>
                        </svg>
                        Ingrédients
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_utensil_index') }}" {{ is_active('utensil') }}>
                        <svg>
                            <use href="/icons.svg#shovel"></use>
                        </svg>
                        Ustensiles
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_allergen_index') }}" {{ is_active('allergen') }}>
                        <svg>
                            <use href="/icons.svg#virus"></use>
                        </svg>
                        Allergènes
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <aside class="dashboard-topbar">
        <div class="dashboard-topbar__search">
            {% if searchable is defined and searchable %}
                <form>
                    <input name="q" type="text" placeholder="Rechercher" value="{{ app.request.get('q') }}">
                </form>
            {% endif %}
        </div>
        <ul class="dashboard-topbar__nav">
            <li class="header__logout">
                <a href="/">
                    <svg>
                        <use href="/icons.svg#logout"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </aside>
    <main class="dashboard-body">
        {{ include('partials/flash.html.twig') }}
        {% block body %}{% endblock %}
    </main>
    <footer></footer>
</div>
</body>
</html>
