{% extends 'base.html.twig' %}

{% block body %}
    <div class="glossary container">
        <div class="glossary-header hero-title">
            <h1>Ustensiles</h1>
        </div>
        <div class="glossary-wrapper">
            <glossary-letters class="glossary-letters">
                {% for letter in letters %}
                    <a class="glossary-letter center" href="#letter-{{ letter | lower }}">
                        {{ letter }}
                    </a>
                {% endfor %}
            </glossary-letters>
            <div class="container mx6">
                {% for letter, utensils in utensilsByLetters %}
                    <section class="glossary-section" id="letter-{{ letter }}">
                        <h2 class="glossary-lettering h1 hero-text">{{ letter }}</h2>
                        <ul class="glossary-words card mt2">
                            {% for utensil in utensils %}
                                <li class="glossary-word">
                                    <a href="{{ path('utensil_show', {'id': utensil.id, 'slug': utensil.slug}) }}">
                                        <span class="glossary-word__name">
                                            {{ utensil.name }}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
