<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Recettes{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicons/icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicons/icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicons/icon-152x152.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/icon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="128x128" href="/favicons/icon-128x128.png"/>
    <link rel="icon" type="image/png" sizes="196x196" href="/favicons/icon-196x196.png"/>
    <link rel="icon" type="image/png" sizes="310x310" href="/favicons/icon-310x310.png"/>
    <meta name="application-name" content="Recettes"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="page-wrapper">
    <nav class="header">
        <ul class="header-nav">
            <li class="header__home">
                <svg>
                    <use href="/logo.svg#logo"></use>
                </svg>
            </li>
            <li>
                <a href="{{ path('home') }}" {{ is_active('home') }}>
                    <svg>
                        <use href="/icons.svg#home"></use>
                    </svg>
                    Accueil
                </a>
            </li>
            <li>
                <a href="{{ path('allergen_index') }}" {{ is_active('allergen') }}>
                    <svg>
                        <use href="/icons.svg#virus"></use>
                    </svg>
                    Allergènes
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('admin_recipe_index') }}">
                        <svg>
                            <use href="/icons.svg#settings"></use>
                        </svg>
                        Admin
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="header-side">
            <li class="header-side__search">
                <a href="">
                    <svg>
                        <use href="/icons.svg#search"></use>
                    </svg>
                </a>
            </li>
            <li class="header-side__auth">
                {% if app.user %}
                    <a href="#">
                        <svg>
                            <use href="/icons.svg#user"></use>
                        </svg>
                        {{ app.user.name }}
                    </a>
                    <span>·</span>
                    <a href="{{ path('auth_logout') }}">
                        <svg>
                            <use href="/icons.svg#logout"></use>
                        </svg>
                    </a>
                {% else %}
                    <a href="{{ path('auth_register') }}">
                        <svg>
                            <use href="/icons.svg#user"></use>
                        </svg>
                        S'inscrire
                    </a>
                    <span>·</span>
                    <a href="{{ path('auth_login') }}">
                        Se connecter
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    <main>
        {{ include('partials/flash.html.twig') }}
        {% block body %}{% endblock %}
    </main>
    <footer></footer>
</div>
</body>
</html>
