{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container auth">
        <div class="card-auth card">
            <div class="card-content">
                <div class="card-body">
                    <div class="card-title">
                        <h1>S'inscrire</h1>
                    </div>
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}

                    {{ form_row(form.email) }}

                    {{ form_row(form.password) }}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div>
                        <button type="submit">Inscription</button>
                    </div>
                    {{ form_end(form) }}

                    <span class="separator">
                        <span class="separator-text">ou</span>
                    </span>

                    <div class="already-user">
                        <span>
                            Déjà utilisateur?
                            <a href="{{ path('auth_login') }}" class="link">
                                Se connecter
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
