{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container login">
        <div class="title">
            <h1>S'inscrire</h1>
        </div>
        <div class="form">
            {{ form_start(form) }}
            {{ form_row(form.name, ) }}

            {{ form_row(form.email) }}

            {{ form_row(form.password) }}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group">
            <span>
                <a href="{{ path('auth_login') }}">
                    Se connecter
                </a>
            </span>
            </div>
            <div>
                {{ include('components/button.html.twig', {label: "S'inscrire", type: 'submit'}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
